<div class="container">
    <div class="col-md-10">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="mb-3">
          <label  class="form-label">First Name</label>
          <input formControlName="firstname" class="form-control"  aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label  class="form-label">Last Name</label>
          <input formControlName="lastname" type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label  class="form-label">Email Address</label>
          <input formControlName="email" type="email" class="form-control"  aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label  class="form-label">Last Name</label>
          <input formControlName="password" type="password" class="form-control" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


